@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Light.ttf);
}

html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6, fieldset{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: "Ubuntu";
    text-decoration: none;
    list-style: none;
}

.conteiner {
    background-image: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-bottom: 72px;
}

header {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1206px;
    margin: 0 auto;
    padding: 18px 0;
}

.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #FFF;
    transition: 0.5s;
}

.title:hover {
    color: #01813F;
}

.header-nav {
    display: flex;
}

.icon {
    margin-right: 25px;
}

.icon:first-child {
    margin-right: 27px;
}

.icon:hover path {
    fill: #01813F;
}

.header-log-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFF;
    margin-top: 5px;
    /* padding-left: 27px; */
    transition: 0.5s;
}

.header-log-text::before {
    content: "";
    border-left: 1px solid #FFFFFF;
    margin-right: 27px;
    height: 20px;
    opacity: 0.9;
}

.header-green-log-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFF;
    transition: 0.5s;
    cursor: pointer;
}

.header-green-log-text:hover {
    color: #01813F;
}

.log-box {
    max-width: 444px;
    margin: 0 auto;
    margin-top: 55px;
    padding: 31px 60px 38px 60px;
    background-color: #FFF;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.log-box-head {
    display: flex;
    justify-content: space-between;
}

.log-box-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #434343;
}

.log-box-link {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
}

.log-box-link:hover {
    text-decoration: underline;
    color: #01813F;
}

.square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 33px;
    left: 0;
}

.log-box-btns {
    margin-top: 30px ;
    display: flex;
    box-sizing: border-box;
}

.facebook-box {
    width: 50%;
    margin-right: 4px;
    box-sizing: border-box;
    background-color: #305DB8;
    padding: 12px 22px 12px 17px;
    border-radius: 4px;
    display: flex;
    transition: 0.5s;
}

.facebook-btn {
    margin-top: 5px;
    margin-left: 19px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.facebook-btn::before {
    content: "";
    border-left: 1px solid #0A162F;
    height: 28px;
    padding-right: 18px;
    opacity: 0.1;
}

.facebook-box:hover {
    background-color: #022263;
}

.google-box {
    width: 50%;
    box-sizing: border-box;
    background-color: #DF4A32;
    padding: 15px 27px 14px 12px;
    border-radius: 4px;
    display: flex;
    transition: 0.5s;
}

.google-btn {
    margin-left: 7px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.google-btn::before {
    content: "";
    border-left: 1px solid #2B0D09;
    height: 28px;
    padding-right: 30px;
    opacity: 0.1;
}

.google-box:hover {
    background-color: #AB1F09;
}

.log-in-form {
    max-width: 322px;
    margin-top: 40px;
    border: none;
    border-top: 2px solid #F2F2F2;
}

.log-in-form-title {
    text-align: center;
    padding: 0 1px;
    color: #848484;
    font-size: 14px ;
    line-height: 14px ;
    font-weight: 400;
}

.fr-name {
    margin-top: 16px;
}

.fr-name, .sc-name, .email, .fr-password, .sc-password {
    width: 100%;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #434343;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.fr-name::placeholder, .sc-name::placeholder, .email::placeholder, .fr-password::placeholder, .sc-password::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.fr-name:focus, .sc-name:focus, .email:focus, .fr-password:focus, .sc-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.fr-name:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    outline: none;
}

.agree-box {
    display: flex;
}

.checkbox {
    margin-right: 8px;
}

.agree-text {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.agree-text-link {
    color: #3CB878;
    cursor: pointer;
}

.agree-text:hover .agree-text-link{
    text-decoration: underline;
    color: #01813F;
}

.create-btn {
    width: 324px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 16px 100px;
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
}

.create-btn:hover {
    background-color: #01813F;
}